* {
    margin: 0%;
    padding: 0%;
    height: 100%;
}
@font-face {
    font-family: "Cherry Bomb"; /* Nome que você deseja dar à fonte */
    src: url("elementosQuiz/CherryBombOne-Regular.ttf") format("truetype"); /* Substitua pelo caminho correto */
}

.molduraTela {
    width: 100%;
    height: 100%;
    background-color: #7D86BB;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.painel {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column; /* Adicionado para empilhar os elementos verticalmente */
    justify-content: center;
    align-items: center;
}

.logoVestIfam img {
    position: absolute;
    top: -5px;
    left: 10px;
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Definir um z-index mais baixo */
    transition: filter 0.3s ease-in-out; /* Adicione uma transição suave */
}
.logoVestIfam :hover{
    cursor: pointer;
    filter: brightness(0.9); /* Aumenta o brilho quando o mouse está sobre a logo */
}



.txtHRQ{
    margin-top: -30px;
}
.txtHRQ img{
    width: 700px;
    height: 100px;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start button {
    width: 177px;
    height: 44.5px;
    margin-top: 10px; 
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 32px;
    border: 4px solid #3E4677;
    background: #7ED957;
    box-shadow: 5px 4px 4px 2px rgba(255, 255, 255, 0.25) inset, -6px -12px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #3E4677;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 96.9%;
    transition: background-color 0.3s ease-in-out; /* Adiciona uma transição suave à mudança de cor */
    z-index: 9999;
}

.start button:hover {
    cursor: pointer;
    background-color: #69B05B; /* Define a cor de fundo quando o mouse está sobre o botão */
    color: #3E4677; /* Define a cor do texto quando o mouse está sobre o botão */
}


.elementosQUIZ {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.icon-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-list li {
    margin: 10px;
    position: relative;
}

.Icon {
    width: 100px;
    height: 150px;
    position: absolute; /* ou 'relative', dependendo do caso */
}


.Lamp1 {
    top: -220px; /* Ajuste a posição vertical */
    left: -30px; /* Ajuste a posição horizontal */
    transform: rotate(-12deg);
}

.Lamp2 {
    top: 100px; /* Ajuste a posição vertical */
    left: 500px; /* Ajuste a posição horizontal */
    transform: rotate(32deg);
}

.Pencil1 {
    top: -220px; /* Ajuste a posição vertical */
    left: 450px; /* Ajuste a posição horizontal */
    transform: rotate(60deg);
}

.Pencil2 {
    top: 100px; /* Ajuste a posição vertical */
    left: -420px; /* Ajuste a posição horizontal */
    
}

.Book1 {
    top: -100px; /* Ajuste a posição vertical */
    left: 350px; /* Ajuste a posição horizontal */
    transform: rotate(320deg);
}

.Book2 {
    top: -100px; /* Ajuste a posição vertical */
    left: -760px; /* Ajuste a posição horizontal */
}

@media (max-width: 768px) {
    .logoVestIfam img {
        width: 20%;
    }
    
    .start button {
        width: 100%;
    }
    
    .Lamp1 {
        top: 320px;
        left: -200px;
    }

    .Lamp2 {
        top: 50px;
        left: 100px;
    }

    .Pencil1 {
        top: 330px;
        left: 100px;
    }

    .Pencil2 {
        top: 50px;
        left: -200px;
    }

    .Book1 {
        top: 100px;
        left: 150px;
    }

    .Book2 {
        top: 100px;
        left: -280px;
    }

    /* Outros ajustes de estilo para telas menores */
}